<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Books Homepage - Welcome to My Book Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Book Store</h1>
</header>
<main>
    <h2>Choose a book:</h2>
    <form action="/listBooks" method="post">
        <div th:each="book : ${books}">
            <input type="radio" th:name="bookIsbn" th:value="${book.isbn}">
            <span th:text="'Title: ' + ${book.title} + ', Genre: ' + ${book.genre} + ', Year: ' + ${book.year}"></span><br>
        </div>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>
